<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">DANH SÁCH SẢN PHẨM</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Danh sách sản phẩm</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Shop Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <!-- Shop Sidebar Start -->
    <div class="col-lg-3 col-md-12">
    <h3 class="mb-3 mt-3">BỘ LỌC TÌM KIẾM</h3>
      <!-- Categories Start -->
      <div class="border-bottom mb-4 pb-4">
        <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
          <h6 class="m-0">Theo danh mục</h6>
          <i class="fa fa-angle-down text-dark"></i>
        </a>
        <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
          <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
            <a [routerLink]="" (click)="loadProductByCategory(category.id + '')"
               class="nav-item nav-link" data-toggle="reset-active-category" [id]="'category' + category.id" *ngFor="let category of categories; index as i">
              {{category.name}} [{{category.totalProduct}}]
              <span class="text-danger" *ngIf="category.discountPercent > 0"> - {{category.discountPercent}}%</span>
            </a>
            <button class="btn btn-outline-primary" (click)="loadProductByCategory('')">
              Tất cả sản phẩm
              <small class="border-primary">[{{totalProducts}}]</small>
            </button>
          </div>
        </nav>
      </div>
      <!-- Categories Start -->

      <!-- Price Start -->
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Theo giá</h5>
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" checked id="price-all" (input)="filterPrice('0', '400000000000')">
            <label class="custom-control-label" for="price-all">Tất cả giá bán</label>
            <span class="badge border font-weight-normal">{{totalProductsFilter}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-1" (input)="filterPrice('0','1000000')">
            <label class="custom-control-label" for="price-1">0<sup>đ</sup> - 1.000.000<sup>đ</sup></label>
            <span class="badge border font-weight-normal">{{this.totalOneMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-2" (input)="filterPrice('1000001','3000000')">
            <label class="custom-control-label" for="price-2">1.000.000<sup>đ</sup> - 3.000.000<sup>đ</sup></label>
            <span class="badge border font-weight-normal">{{totalThreeMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-3" (input)="filterPrice('3000001','5000000')">
            <label class="custom-control-label" for="price-3">3.000.000<sup>đ</sup> - 5.000.000<sup>đ</sup></label>
            <span class="badge border font-weight-normal">{{totalFiveMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-4" (input)="filterPrice('5000001','10000000')">
            <label class="custom-control-label" for="price-4">5.000.000<sup>đ</sup> - 10.000.000<sup>đ</sup></label>
            <span class="badge border font-weight-normal">{{totalTenMi}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
            <input type="radio" name="filter-price" class="custom-control-input" id="price-5" (input)="filterPrice('10000001','400000000000')">
            <label class="custom-control-label" for="price-5">10.000.000<sup>đ</sup> trở lên</label>
            <span class="badge border font-weight-normal">{{totalLetThanTenMi}}</span>
          </div>
        </form>
      </div>
      <!-- Price End -->

      <!-- Color Start -->
      <div class="border-bottom mb-4 pb-4">
        <h5 class="font-weight-semi-bold mb-4">Theo hãng sản xuất</h5>
        <form>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
            <input type="radio" name="origin" class="custom-control-input" checked id="color-all" (input)="filterOrigin('')">
            <label class="custom-control-label" for="color-all">Tất cả hãng</label>
            <span class="badge border font-weight-normal">{{totalProductsFilter}}</span>
          </div>
          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3" *ngFor="let origin of originDtos; index as i">
            <input type="radio" name="origin" class="custom-control-input" id="color-{{origin.name}}" (input)="filterOrigin(origin.name)">
            <label class="custom-control-label" for="color-{{origin.name}}">{{origin.name}}</label>
            <span class="badge border font-weight-normal">{{origin.quantity}}</span>
          </div>
        </form>
      </div>
      <!-- Color End -->

      <!-- Size Start -->
<!--      <div class="mb-5">-->
<!--        <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>-->
<!--        <form>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
<!--            <input type="checkbox" class="custom-control-input" checked id="size-all">-->
<!--            <label class="custom-control-label" for="size-all">All Size</label>-->
<!--            <span class="badge border font-weight-normal">1000</span>-->
<!--          </div>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
<!--            <input type="checkbox" class="custom-control-input" id="size-1">-->
<!--            <label class="custom-control-label" for="size-1">XS</label>-->
<!--            <span class="badge border font-weight-normal">150</span>-->
<!--          </div>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
<!--            <input type="checkbox" class="custom-control-input" id="size-2">-->
<!--            <label class="custom-control-label" for="size-2">S</label>-->
<!--            <span class="badge border font-weight-normal">295</span>-->
<!--          </div>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
<!--            <input type="checkbox" class="custom-control-input" id="size-3">-->
<!--            <label class="custom-control-label" for="size-3">M</label>-->
<!--            <span class="badge border font-weight-normal">246</span>-->
<!--          </div>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">-->
<!--            <input type="checkbox" class="custom-control-input" id="size-4">-->
<!--            <label class="custom-control-label" for="size-4">L</label>-->
<!--            <span class="badge border font-weight-normal">145</span>-->
<!--          </div>-->
<!--          <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">-->
<!--            <input type="checkbox" class="custom-control-input" id="size-5">-->
<!--            <label class="custom-control-label" for="size-5">XL</label>-->
<!--            <span class="badge border font-weight-normal">168</span>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
      <!-- Size End -->

    </div>
    <!-- Shop Sidebar End -->


    <!-- Shop Product Start -->
    <div class="col-lg-9 col-md-12">
      <div class="row pb-3">
        <div class="col-12 pb-1">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <form [formGroup]="searchByNameForm" (ngSubmit)="searchByName()">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><a class="text-dark" [routerLink]="" (click)="resetSearchForm()">Hủy</a></div>
                </div>
                <input type="text" class="form-control border-primary" id="inlineFormInputGroup" placeholder="Tìm tên sản phẩm" formControlName="productName">
                <button type="submit" class="btn btn-outline-primary" style="border: none !important;">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
            <div class="float-left ml-4">
              <button *ngIf="role == 'ROLE_ADMIN' && loginStatus == true" [routerLink]="['/product/create']" class="btn btn-outline-primary">Thêm mới</button>
            </div>
            <div class="dropdown ml-4">
              <button class="btn border dropdown-toggle border-primary" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                {{sortTitle}}
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                <a class="dropdown-item" [routerLink]="" (click)="sortByDate('manufacture_time')">Ngày phát hành</a>
                <a class="dropdown-item" [routerLink]="" (click)="sortByPriceDESC('price,desc')">Giá cao đến thấp</a>
                <a class="dropdown-item" [routerLink]="" (click)="sortByPriceASC('price,asc')">Giá thấp đến cao</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Start -->
        <div class="col-lg-4 col-md-6 col-sm-12 pb-1" *ngFor="let product of products; index as i">
          <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
              <a [routerLink]="['/product/detail', product.id]"><img class="img-fluid w-100" src="{{product.image}}" alt="Ảnh {{product.name}}"></a>
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
              <h6 class="text-truncate mb-3">
                <a class="text-dark" [routerLink]="['/product/detail', product.id]">{{product.name}}</a>
                - <small class="text-primary">{{product.category.name}}</small></h6>
              <div class="d-flex justify-content-center text-center">
                <h6>{{(product.price - (product.price * (product.category.discountPercent / 100))) - ((product.price - (product.price * (product.category.discountPercent / 100))) * product.discountPercent / 100) | currency: 'VND': ''}}<sup>đ</sup></h6>
                <h6 class="text-muted ml-2">
                <del *ngIf="product.discountPercent > 0 || product.category.discountPercent > 0">{{product.price| currency: 'VND': ''}}<sup>đ</sup></del>
                <span class="text-danger" *ngIf="product.discountPercent > 0 && product.category.discountPercent > 0"> - {{product.discountPercent}}%</span>
              </h6>
              </div>
              <p>{{product.origin}} - {{product.manufactureTime | date: "dd/MM/yyyy"}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
              <a [routerLink]="['/product/detail', product.id]" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>Xem chi tiết</a>
              <a *ngIf="role != 'ROLE_ADMIN' && loginStatus == true && infoStatus == true" [routerLink]="" (click)="addToCart(product)" class="btn btn-sm text-dark p-0">
                <i class="fas fa-shopping-cart text-primary mr-1"></i>
                Thêm vào giỏ hàng
              </a>
              <a *ngIf="role != 'ROLE_ADMIN' && loginStatus == true && infoStatus == false" [routerLink]="" (click)="updateInfoMessage()" class="btn btn-sm text-dark p-0">
                <i class="fas fa-shopping-cart text-primary mr-1"></i>
                Thêm vào giỏ hàng
              </a>
              <a *ngIf="role != 'ROLE_ADMIN' && loginStatus == false && infoStatus == true" [routerLink]="" (click)="addToCartMessage()" class="btn btn-sm text-dark p-0">
                <i class="fas fa-shopping-cart text-primary mr-1"></i>
                Thêm vào giỏ hàng
              </a>

              <a *ngIf="role == 'ROLE_ADMIN'" [routerLink]="['/product/edit', product.id]" class="btn btn-sm text-dark p-0"><i class="fas fa-pencil-alt text-primary mr-1"></i>Chỉnh sửa</a>

              <!-- Button trigger modal -->
              <a *ngIf="role == 'ROLE_ADMIN' && loginStatus == true" class="btn btn-sm text-dark p-0" data-toggle="modal" [attr.data-target]="'#exampleModalDelete' + product.id">
                <i class="fas fa-trash-alt text-primary mr-1"></i>Xóa
              </a>

              <!-- Modal -->
              <div *ngIf="role == 'ROLE_ADMIN' && loginStatus == true" class="modal fade" id="exampleModalDelete{{product.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title text-danger" id="exampleModalLabel">Cảnh báo!</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="text-center" style="font-size: 18px !important;">
                        Bạn đang xóa sản phẩm <a (click)="closeModal(product.id)" [routerLink]="['/product/detail', product.id]" class="text-danger">{{product.name}}</a> có id = <span class="text-danger">{{product.id}}</span>.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="deleteProduct(product)">Đồng ý xóa</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Product End -->

        <div class="col-lg-12 col-md-12 col-sm-12 pb-1 text-center font-weight-bold" style="font-size: 26px !important;" *ngIf="products.length <= 0">
          Không có dữ liệu cho danh mục này.
        </div>

        <!-- Pagination Start -->
        <div class="col-12 pb-1" *ngIf="products.length > 0">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center mb-3">
              <li class="page-item" *ngIf="currentPage > 0">
                <a class="page-link" [routerLink]="" aria-label="Previous" (click)="goPrevious()">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage <= 0">
                <a class="page-link" [routerLink]="" aria-label="Previous" (click)="goPrevious()">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item disabled"><a class="page-link text-primary" href="#">{{currentPage + 1}}/{{totalPages}}</a></li>
              <li class="page-item" *ngIf="currentPage < totalPages - 1">
                <a class="page-link" [routerLink]="" aria-label="Next" (click)="goNext()">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              <li class="page-item disabled" *ngIf="currentPage >= totalPages - 1">
                <a class="page-link" [routerLink]="" aria-label="Next" (click)="goNext()">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Pagination End -->
      </div>
    </div>
    <!-- Shop Product End -->
  </div>
</div>
<!-- Shop End -->
