<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Giỏ hàng</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="">Trang chủ</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Giỏ hàng</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
  <div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
        <tr>
          <th>Sản phẩm</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Tổng tiền</th>
          <th>Hành động</th>
        </tr>
        </thead>
        <tbody class="align-middle">
        <tr *ngFor="let po of productOrders; index as i">
          <td class="align-middle"><a [routerLink]="" data-toggle="modal"
                                      [attr.data-target]="'#exampleModalCenter' + po.product.id">{{po.product.name}}</a>
          </td>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter{{po.product.id}}" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">
                    <a [routerLink]="['/product/detail', po.product.id]" (click)="closeModal(po.product.id)"
                       class="nav-link text-info text-uppercase">
                      {{po.product.name}}
                    </a>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="{{po.product.image}}" alt="" width="100%">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>
          <td
            class="align-middle">{{(po.product.price - (po.product.price * (po.product.category.discountPercent / 100))) - ((po.product.price - (po.product.price * (po.product.category.discountPercent / 100))) * po.product.discountPercent / 100) | currency: 'VND': ''}}
            <sup>đ</sup></td>
          <td class="align-middle">
            <div class="input-group quantity mx-auto" style="width: 100px;">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-minus" (click)="minusQuantity(po)" *ngIf="po.quantity > 1">
                  <i class="fa fa-minus"></i>
                </button>
                <button class="btn btn-sm btn-primary btn-minus" data-toggle="modal"
                        [attr.data-target]="'#deleteMinusModal' + po.product.id" *ngIf="po.quantity <= 1">
                  <i class="fa fa-minus"></i>
                </button>
              </div>

              <!-- Modal -->
              <div class="modal fade" id="deleteMinusModal{{po.product.id}}" tabindex="-1" role="dialog"
                   aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title font-weight-bold text-uppercase text-primary" id="exampleModalLabel">Xóa
                        sản phẩm khỏi giỏ hàng</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p style="font-size: 20px">Bạn có muốn xóa sản phẩm <span
                        class="text-primary">{{po.product.name}}</span> khỏi giỏ hàng không?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="deleteProductInCart(po)">Xóa</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>
              <input type="text" class="form-control form-control-sm bg-secondary text-center" [value]="po.quantity">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary btn-plus" (click)="plusQuantity(po)"
                        *ngIf="po.quantity < po.product.quantity">
                  <i class="fa fa-plus"></i>
                </button>
                <button class="btn btn-sm btn-primary btn-plus" (click)="maximumQuantity()"
                        *ngIf="po.quantity >= po.product.quantity">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </td>
          <td
            class="align-middle">{{((po.product.price - (po.product.price * (po.product.category.discountPercent / 100))) - ((po.product.price - (po.product.price * (po.product.category.discountPercent / 100))) * po.product.discountPercent / 100)) * po.quantity | currency: 'VND': ''}}
            <sup>đ</sup></td>
          <td class="align-middle">
            <button class="btn btn-sm btn-primary" data-toggle="modal"
                    [attr.data-target]="'#exampleModalDeleteButton' + po.product.id">
              <i class="fa fa-times"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalDeleteButton{{po.product.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title font-weight-bold text-uppercase text-primary" id="exampleModalLabelDelete">
                      Xóa sản phẩm khỏi giỏ hàng</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p style="font-size: 20px">Bạn có muốn xóa sản phẩm <span
                      class="text-primary">{{po.product.name}}</span> khỏi giỏ hàng không?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="deleteProductInCart(po)">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="5" class="text-center m-auto" *ngIf="productOrders.length <= 0">
            Không có sản phẩm trong giỏ hàng
            <a [routerLink]="['/product/list']">xem tất cả sản phẩm tại đây.</a>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4">
      <form class="mb-5" action="">
        <div class="input-group">
          <input type="text" class="form-control p-4" placeholder="Mã giảm giá">
          <div class="input-group-append">
            <button class="btn btn-primary">Thêm</button>
          </div>
        </div>
      </form>
      <div class="card border-secondary mb-5">
        <div class="card-header bg-secondary border-0">
          <h4 class="font-weight-semi-bold m-0">Thông tin thanh toán</h4>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3 pt-1">
            <h6 class="font-weight-medium">Tổng tiền sản phẩm</h6>
            <h6 class="font-weight-medium">{{totalMoney | currency: 'VND': ''}}<sup>đ</sup></h6>
          </div>
          <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Phí vận chuyển</h6>
            <h6 class="font-weight-medium" *ngIf="productOrders.length > 0">50.000<sup>đ</sup></h6>
            <h6 class="font-weight-medium" *ngIf="productOrders.length <= 0">0<sup>đ</sup></h6>
          </div>
        </div>
        <div class="card-footer border-secondary bg-transparent">
          <div class="d-flex justify-content-between mt-2">
            <h5 class="font-weight-bold">Tổng thanh toán</h5>
            <h5 class="font-weight-bold" *ngIf="productOrders.length > 0">
              {{totalMoney + 50000 | currency: 'VND': ''}}<sup>đ</sup>
              - {{(totalMoney + 50000) / 23000 | currency: 'USD'}}
            </h5>
            <h5 class="font-weight-bold" *ngIf="productOrders.length <= 0">0<sup>đ</sup></h5>
          </div>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-block btn-primary my-3 py-3" data-toggle="modal"
                  data-target="#exampleModalPayment">
            Thanh toán
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalPayment" tabindex="-1" role="dialog"
               aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelPayment">CHỌN PHƯƠNG THỨC THANH TOÁN</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="paymentsBtn">
                  <div id="payments" *ngIf="totalMoney >= 0"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Cart End -->
